@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Work+Sans:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Raleway;
		src: url("./assets/fonts/Raleway.ttf");
	}
	html {
		@apply scroll-smooth;
	}
	html::-webkit-scrollbar {
		@apply w-[5px];
	}
	html::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-dark-green-slate border-r-[5px];
	}
	html::-webkit-scrollbar-track {
		@apply bg-navy-green;
	}
	body {
		@apply overflow-x-hidden bg-navy-green text-green-slate font-raleway selection:bg-lightest-navy-green selection:text-lightest-green-slate;
	}
	section {
		@apply max-w-[1000px] mx-auto;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
}

@layer components {
	.transition-normal {
		@apply transition-all duration-300 ease-in-out;
	}
	.shadow-normal {
		@apply shadow-[0_10px_30px_-15px] shadow-green-navy-shadow;
	}

	.mobile-links {
		font-size: clamp(14px, 4vw, 18px);
	}

	.big-heading {
		font-size: clamp(40px, 7.5vw, 80px);
	}

	.medium-heading {
		font-size: clamp(20px, 5vw, 32px);
	}

	.pill {
		@apply bg-light-navy-green py-[6px] px-[9px] text-lightest-green-slate border border-light-green-slate rounded-md uppercase text-xs;
	}

	.hero {
		@apply h-screen min-h-screen pt-[100px] pb-0 flex flex-col justify-center items-start min-[700px]:h-auto max-[360px]:h-auto;
	}

	.section {
		@apply py-[60px] sm:py-20 md:py-[100px];
	}

	.numbered-heading {
		font-size: clamp(20px, 5vw, 32px);
		@apply bg-dark-navy-green relative capitalize flex items-center w-fit px-4 py-1 border-light-green-slate border text-lightest-green-slate whitespace-nowrap mt-[10px] mb-10;
	}

	.numbered-heading::before {
		counter-increment: section;
		content: attr(data-num) ".";
		font-size: clamp(16px, 3vw, 20px);
		@apply relative self-end mb-1 mr-2 font-mono font-normal max-[460px]:mb-[0.15px] text-green md:mr-3;
	}

	.profile-pic-wrapper {
		@apply relative w-full transition-normal rounded-md bg-green hover:-translate-x-1 hover:-translate-y-1 shadow-normal hover:shadow-green-navy-shadow outline-none hover:shadow-[0_20px_30px_-15px];
	}

	.profile-pic-wrapper::before,
	.profile-pic-wrapper::after {
		content: "";
		@apply absolute block w-full h-full rounded-md transition-normal;
	}

	.profile-pic-wrapper::before {
		@apply top-0 left-0 bg-navy-green;
	}

	.profile-pic-wrapper::after {
		@apply top-[14px] left-[14px] -z-[1] border-2 border-green hover:translate-x-[8px] hover:translate-y-[8px];
	}

	.project-title {
		font-size: clamp(20px, 5vw, 28px);
	}

	.project-image {
		@apply relative block aspect-auto col-span-full shadow-normal min-[1200px]:col-span-5 bg-green;
	}
	.project-image::before {
		@apply top-0 left-0 bg-navy-green absolute block w-full h-full transition-normal;
	}

	.project-grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		@apply grid mt-[50px] gap-[15px];
	}
}
